.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  color: #343a40;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #495057;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #00c9ff;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.btn-primary {
  background-color: #3c95ad;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.btn-primary:hover {
  background-color: #00b0e8;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button.btn-secondary {
  background-color: #458a4c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.btn-secondary:hover {
  background-color: #6de574;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.result {
  margin-top: 30px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  color: #495057;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.result a {
  display: inline-block;
  margin-top: 10px; /* Add some space above the link */
  color: #ff7e5f; /* Change to your preferred link color */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.result a:hover {
  color: #feb47b; /* Change color on hover */
}
.result a small {
  font-size: 12px; /* Change the font size to be smaller */
}
